.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.cache/
.vscode/

.env

data/output/**/*
!data/output/.gitkeep
data/input/*
!data/input/.gitkeep
data/campaigns/**/*
!data/campaigns/.gitkeep

*.mp4
*.wav
*.m4a
*.mp3
